# Go workspace file
go.work*

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


internal
.gocache
public.pem
test.license
./pentora
diff.log
build

*.md
!README.md

ui/
docs/