# Go workspace file
go.work*

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


/dist
.gocache
public.pem
test.license
./pentora
diff.log
build

*.md
!README.md
!WORK-SUMMARY-*.md

# UI build artifacts
/pkg/ui/dist/*
!/pkg/ui/dist/.gitkeep
